*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Models/blender~/wolf-retopo1.blend !text !filter !merge !diff
Assets/Models/blender~/newPlayer.blend !text !filter !merge !diff
Assets/Models/blender~/scene.blend !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.blend !text !filter !merge !diff
scene.fbx !text !filter !merge !diff
assets/models/scene.fbx filter=lfs diff=lfs merge=lfs -text
